<aside class="sidebar">

<div class="brand">
<i class="fa-solid fa-headset"></i>
<span>Enterprise Desk</span>
</div>

<ul class="menu">

<li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
<li><a href="#"><i class="fa fa-ticket"></i> Tickets</a></li>
<li><a href="#"><i class="fa fa-triangle-exclamation"></i> Incidents</a></li>
<li><a href="#"><i class="fa fa-server"></i> CMDB</a></li>
<li><a href="#"><i class="fa fa-book"></i> Knowledge Base</a></li>
<li><a href="#"><i class="fa fa-chart-line"></i> Reports</a></li>
<li><a href="#"><i class="fa fa-robot"></i> AI Assistant</a></li>
<li><a href="#"><i class="fa fa-users"></i> Administration</a></li>

</ul>

</aside>
